.footer-button{
  padding: 0 94px;
  .mat-button{
    height: 50px;
    width: 150px;
    margin-top: 10px;
  }
  .mat-button:disabled{
    opacity: 0.6;
  }
  .action-bt{
    background-color: #00A8B2 !important;
  }
  .footer-margin{
    margin: 0 20px;
  }
}
