.content-employee{
  display: flex;flex-direction: column; padding: 40px;
  padding-bottom: 0px;

  mat-card {
    mat-card-title {
      border-bottom: 1px solid rgba(119,119,119,0.54);
      font-size: 18px;
      padding-bottom: 10px;
      font-weight: 600;
      color: #797979;
    }

  }
  .employee-btn-add{
    padding-bottom: 0px;
  }

}
.mat-form-field-infix{
  font-size: 16px;
}
input:disabled{
  background-image: (rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
}

#btn-add-photo:hover{
  background-color: rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
}

.div-actions-img{
  background:white;
  opacity: 0.0;


}
.div-actions-img:hover{
  opacity: 0.7;
  display: flex;

}

.div-img{
  border: 4px solid #cebbbb;
  border-radius: 4px;
  height: 100px;
  width: 100px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}


.input-file-wrapper{
  input[type='file'] {
    display: none
  }

  input[type='file'] :disabled{
    background: red;
  }

  /* Aparência que terá o seletor de arquivo */
  label {
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 5px
  }
}

.div-img-question{
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-image{
  font-weight: 480;
  line-height: 1.125;
  font-size: 12px;
  color: #787878;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.text-employee-biometrics{
  max-width: 148px;
  min-width: 148px;
  line-height: 2;
  float: right;
  position: relative;
}

