.team-involved-button{
  margin-bottom: 70px;
}
.scrolldisabled-table {
  .table-container{
    box-shadow: none;
  }
  padding: 4px;
  margin-bottom: 20px;
  table {
    border-spacing: 0;
    width: 100%;
    text-align: left;
    box-shadow: none;
  }
  thead {}
  tbody > tr, thead > tr {
    display: table;
    width: 100%;
  }
  tbody{
    tr{
      border-bottom: 2px solid #f2f2f2
    }
  }
  tbody, thead {
    display: block;
  }
  tbody {
    overflow-x: hidden;
    width: 100%;
  }
  th, td{
    width: 200px;
    max-width: 200px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
  }
  .td-align-right{
    text-align: right !important;
  }
}

.list-type-list{
  list-style-type: none;
  font-size: 16px;
  margin-left: -38px;
  margin-top: -13px;

  li{
    margin: 12px 12px 0 0;
    float: left;
    position: relative;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #e3e7f0;
    padding: 9px;
    line-height: 1.8;
    min-width: 250px;
  }
  :hover{
    .btn-close{
      display: block !important;
    }
  }
  div{
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    padding-right: 30px;
  }
}

.btn-close{
  float: right;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  display: none;

}

.tool-tip{
  position: absolute;
  float: right;
  right: 0;;
  margin-top: -19px;
  color: #797979;
}

.button-aling{
  margin-top: 14px;
  margin-left: 12px;
  min-width: 36px;
  width: 36px;
  height: 36px;
}
