::ng-deep .mat-dialog-actions{
  color: #009688;

}
.mat-button{
  font-weight: bold;
}
.dialog-component{
  font-family:"Arial";
  font-size: 18px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;

}
.dialog-title{
  font-weight: bold;
  font-size: 20px;
  color: rgba(0,0,0,0.87);
  margin-bottom: 30px;

}
.dialog-subTitle{
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.54);
}
