
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  padding-left: 114px;
  min-height: 23px;
}


ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "\203A";
}


ul.breadcrumb li a {
  color: #01447e;
  text-decoration: none;
}


ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
ul.breadcrumb li:last-child{
  a{
    color: #01447e;
    font-weight: bold;
  }

}
